[submodule "addons/computer-base-test"]
	path = addons/computer_base_test
	url = https://github.com/proyek3-odoo-sertifikasi/plugins-computer-base-test.git
[submodule "addons/manajement-asesor"]
	path = addons/manajement_asesor
	url = https://github.com/proyek3-odoo-sertifikasi/plugins-manajement-asesor.git
[submodule "addons/registrasi"]
	path = addons/registrasi
	url = https://github.com/proyek3-odoo-sertifikasi/plugins-registrasi.git
[submodule "addons/website_lsp"]
	path = addons/website_lsp
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_website_lsp.git
[submodule "addons/sertifikasi"]
	path = addons/sertifikasi
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_sertifikasi.git
[submodule "addons/penilaian"]
	path = addons/penilaian
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_penilaian.git
[submodule "addons/lsp_survey"]
	path = addons/lsp_survey
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_lsp_survey.git
