[submodule "addons/manajement-asesor"]
	path = addons/manajement_asesor
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_manajement_asesor.git
[submodule "addons/registrasi"]
	path = addons/registrasi
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_registrasi.git
[submodule "addons/website_lsp"]
	path = addons/website_lsp
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_website_lsp.git
[submodule "addons/sertifikasi"]
	path = addons/sertifikasi
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_sertifikasi.git
[submodule "addons/penilaian"]
	path = addons/penilaian
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_penilaian.git
[submodule "addons/lsp_survey"]
	path = addons/lsp_survey
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_lsp_survey.git
[submodule "addons/custom_billing_module"]
	path = addons/custom_billing_module
	url = https://github.com/proyek3-odoo-sertifikasi/plugins_custom_billing_module.git
